# Ignora a pasta de dependências, que é a causa dos avisos
node_modules

# Ignora logs do Cypress e do npm
cypress.log
npm-debug.log
yarn-error.log

# Ignora a pasta de relatórios gerados localmente
cypress/reports/
cypress/screenshots/
cypress/videos/

# Ignora arquivos de configuração de ambiente local
.env