# Ignora as dependências de ambos os projetos
helpdesk-api/node_modules
helpdesk-testes/node_modules

# Ignora resultados de testes
helpdesk-testes/cypress/reports/
helpdesk-testes/cypress/screenshots/
helpdesk-testes/cypress/videos/
